
div.icon{

position: sticky;
position: fixed;
right: 5%;
top: 1%;
margin-left: -300px; }
div.icon:hover{
cursor: pointer;

}
div.icon:hover + .tooltip-content{
cursor: pointer;
display: inline-block;
width: 25%;
background-color: black;
color: white;

}
div.tooltip-content{
  position: sticky;
position: fixed;
right: 0%;
top: 0%;
margin-left: -300px;
display: none;
}
